/* 

  Main goal is to make the songs scrollable. It is easier to make entire playlist scrollable but we only want song-container to scroll.

  This solution is a lot easier if we make playlist max-wdith: 70% and make footer flex: 1. Then we wont need two overflow-y: auto and need to make playlist as display: flex. But I didnt wanted with max-width: 70% hardcoded value. Also its not responsive by default this way.
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left {
  height: 100vh;
  width: 30vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.left nav {
  padding: 10px;
  border: 1px solid black;
}

.left nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.left .playlist {
  border: 1px solid black;
  flex: 1;
  padding: 10px;
  gap: 20px;
  display: flex; /* This is needed */
  flex-direction: column; /* This is needed */
  overflow-y: auto; /* This is needed */
}

/* 

Overflow-y: auto is just done on playlist will make whole playlist scrollable including its heading "Your songs". This we dont want.

But only adding overflow-y auto to song-container doesn't work as playlist would have exceeded 100vh height already.

100vh height limit is set on left. But flex items can exceed it if needed.

So first we need to stop playlist from exceeding 100vh height limit which we do by adding overflow-y: auto.

Now we also add overflow-y auto to song-container. But this dont change anything currently until we do last magic step.

We need to now simply make display: flex in playlist.

*/

.left .song-container {
  overflow-y: auto; /* This is needed */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.left .song-container .card {
  padding: 20px;
  border: 1px solid black;
}

.left footer {
  border: 1px solid black;
  padding: 10px;
}


/* Additional scrollbar customisation */

 /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
} 