@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
  background: #fd85a9;
  color: black;
}
*::-moz-selection {
  background: #fd85a9;
  color: black;
}
*::-webkit-selection {
  background: #fd85a9;
  color: black;
}

html {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    color: #FDEBD0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

hr {
    width: 100vw;
    height: 10px;
    position: absolute;
    bottom: 0;
    border: none;
    background: rgba(253, 133, 169, 0.2);
    backdrop-filter: blur(100px);
    filter: blur(1px);
    /* background-color: #DC143C; */
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 400;
}

.highlight {
    color: #DC143C;
}

.main {
    /* height: 644px; */
    min-height: 75vh;
    background-image: url("./assets/images/bg.jpg");
    background-position: center 40%; 
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100vw; */
    position: relative;
}

.main .box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
}

.main nav {
    display: flex;
    width: 65vw;
    height: 100px;  
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.main nav img {
    width: 200px;
}

.btn-sm {
    border: 2px solid #FDEBD0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: transparent;
    font-weight: 700;
    color: #FDEBD0;
}

.btn-large {
    border: 2px solid #FDEBD0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    color: #FDEBD0;
    background-color: #DC143C;
    font-size: 18px;
    font-weight: 700;
}

.main nav .btn-sm:last-child {
    background-color: #DC143C;
}

.hero {
    /* border: 1px solid black; */
    position: relative;
    margin-top: 200px;
    max-height: calc(100% - 100px);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.hero .heading {
    color: #F7CAC9;
}

.hero > :nth-child(2) {
    font-size: 24px;
}

.hero > :nth-child(3) {
    font-size: 18px;
}

.hero .input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.hero .input-form input {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #F7CAC9;
    background-color: transparent;
    color: #F7CAC9;
    backdrop-filter: blur(20px);
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    gap: 25px;
    position: relative;
    padding: 25px 0;
    height: 500px;
}

.showcase h1 {
    margin-bottom: 15px;
}

.screenshow {
    position: relative;
}

.showcase-first .screenshow .screen {
    width: 555px;
    position: relative;
    padding-left: 25px;
    z-index: 10;
}

.showcase-first .gif {
    width: 555px;
    position: absolute;
    top: 71px;
    left: -60px;
    border: none;

}

.showcase-second .screenshow .screen {
    width: 400px;
    position: relative;
    filter: grayscale(1);
}

.showcase-second .screenshow .twins {
    width: 205px;
    height: 205px;
    position: absolute;
    top: 158px;
    left: 106px;
    border-radius: 50%;
    opacity: 0.9;
    backdrop-filter: blur(50px);
}


.showcase-third .screenshow .screen {
    position: relative;
    width: 720px;
    filter: grayscale(1);
}

.showcase-third .screenshow .gif {
    width: 380px;
    height: 200px;
    position: absolute;
    top: 68px;
    left: 115px;
    opacity: 0.7;
    backdrop-filter: blur(1px);
    border-radius: 10px;
}

.faq-container {
    position: relative;
}

.faq ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.faq ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    padding: 30px 20px;
    cursor: pointer;
    background-color: #F75270;
    border-radius: 10px;
    transition: background-color 300ms ease-in;
}

.faq ul li:hover {
    background-color: #DC143C;
}

.faq-container h1 {
    text-align: center;
    margin: 50px 0;
}

.faq li {
    list-style: none;
}

@media screen and (max-width: 1300px) {


    .main nav img {
        width: 100px;
    }

    .main nav {
        width: 100vw;
        padding: 20px;
        justify-content: space-between;
    }

    .main nav .btn {
        padding: 10px 15px;
        margin-left: 5px;
    }

    .main .input-form {
        flex-direction: column;
    }

    /* section {
        flex-direction: column;
        gap: 50px;
        padding: 40px 0;
        text-align: center;
    }

    section img {
        border-left: none;
        border-top: 1px solid #fdebd02a;
        width: 400px;
    } */

}