* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0a0a;
}

.container {
    height: 80vh;
    width: 70vw;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #1c1917;
}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.item:nth-of-type(2n+1) {
    background-color: #525252;
}

.item:nth-of-type(2n) {
    background-color: #a3a3a3;
}